body {
  background-color: rgb(255, 255, 255);
}

h1 {
  font-family: Arial, sans-serif;
  font-size: 36px;
  color: #21a464;
}



/* Style for the top bar */
.top-bar {
  background-color: #21a464;  /* Background color */
  overflow: hidden;        /* Clear floats */
  position: fixed;         /* Sticks the bar to the top */
  top: 0;
  width: 100%;
  z-index: 1000;           /* Ensures it stays on top */
}

.top-bar a {
  float: left;             /* Aligns items horizontally */
  display: block;
  color: #f2f2f2;          /* Link color */
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

.top-bar a:hover {
  background-color: #25b972;  /* Background on hover */
  color: #ffffff;            /* Text color on hover */
}

.top-bar a.active {
  background-color: #4CAF50; /* Active page color */
  color: white;
}

/* Additional styling for content to add padding for fixed top bar */
.content {
  padding: 80px;           /* Padding to avoid overlapping */
}
